# OpenAI API Key
OPENAI_API_KEY="sk-proj-sdvvdsvdsvds"

# Google Custom Search API Credentials
GOOGLE_API_KEY="sdvvds-3mbIEQ9d3RvdsvsdvdsTkDNI"
GOOGLE_SEARCH_ENGINE_ID="33331evdsvdsvdsb629b2a4b25"

# Hunter.io API Key
HUNTER_API_KEY="vvdsvdsvdsvdsvdsvdsvds" 

# Directory Configuration
DATA_INPUT_DIR="people.csv"
DATA_SPLIT_DIR="data/linkedinData"
SEARCH_RESULTS_DIR="data/searchResults"
OPENAI_RESPONSES_DIR="data/openaiResponses"
CONSOLIDATED_DATA_FILE="data/consolidatedLinkedinData.json" 