# Firebase Credentials
VITE_FIREBASE_API_KEY=JHBSDjhbsdvbkjsbvkjsbdvkjbkjvbk
VITE_FIREBASE_AUTH_DOMAIN=projectName.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=projectName
VITE_FIREBASE_APP_ID=1:8494948774:web:dfb1df1b6d1b6d1f4b
VITE_FIREBASE_STORAGE_BUCKET=projectName.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=8494948774

# Stripe Configuration (Required)
VITE_STRIPE_PUBLISHABLE_KEY=pk_test_sd9v584sd4v9s8d4v2xO4Brm77kZmdHoVUBcl5dhgWGuqm5D0d7PzhtiP3aMJCsdvsdvsdvsdvsdvsdvsdvsdv
VITE_STRIPE_SECRET_KEY=sk_test_sd9v584sd4v9s8d4vhmPVAF5UBgbIPjVtNSy1qb4gtZD5YsbG4cws3sA2Q0TJccolwneobnoiwenovvkjnsnvb
VITE_STRIPE_WEBHOOK_SECRET=whsec_pdbfbfdfbdbfbfdbdf6F

# OpenAI API Key
OPENAI_API_KEY="sk-proj-nai-dunga"

# Google Custom Search API Credentials
GOOGLE_API_KEY="skdjvbknsdk-oinboisnovn"
GOOGLE_SEARCH_ENGINE_ID="ofnboienrogoij"

PORT=3005