# OpenAI API Key
OPENAI_API_KEY="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"

# Google Custom Search API Credentials
GOOGLE_API_KEY="AIzaSyDMxgIlVxTIoVaIjqc-3mbIEQ9d3RTkDNI"
GOOGLE_SEARCH_ENGINE_ID="33331eb629b2a4b25"

# Hunter.io API Key
HUNTER_API_KEY="cbf73890d1746fd4a3ce62d688770c08f7c3b43a" 

# Directory Configuration
DATA_INPUT_DIR="people.csv"
DATA_SPLIT_DIR="data/linkedinData"
SEARCH_RESULTS_DIR="data/searchResults"
OPENAI_RESPONSES_DIR="data/openaiResponses"
CONSOLIDATED_DATA_FILE="data/consolidatedLinkedinData.json" 